@{
    ViewData["Title"] = "Contacto";
}
<br />
<img src="~/images/logo.png" height="20" right="20" />

<h2>@ViewData["Title"]</h2>


<address>
    Av. Reforma<br />
    CDMX, C.P 657889<br />
    <abbr title="Phone">Tel:</abbr>
    5587908725
</address>

<address>
    <strong>Support:</strong> <a href="outlook.com">bart50_&oplus;.com.mx</a><br />

</address>
