@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>


<address>
   Av. Reforma<br />
    CDMX, C.P 657889<br />
    <abbr title="Phone">P:</abbr>
    5587908725
</address>

<address>
    <strong>Support:</strong> <a href="outlook.com">bart50_#live.com.mx</a><br />
    
</address>
