@{
    ViewData["Title"] = "Galeria";
}
<br />
<img src="~/images/logo.png" height="20" right="20" />
<br /><br />
<div class="navbar-header">

    <img src="~/images/banner.jpg" class="img-responsive" />
</div>
<br /><br />
<div>
    <br /><br />
    <h1>Audio Car</h1>
</div>
<div class="row">
    <div class="col-sm-6 col-xs-12 ">

        <iframe width="500" height="300" src="https://www.youtube.com/embed/NFoRtT5r3v4?start=7"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Las mejores apps solo con #PioneerAlVolante</h4>

    </div>

    <div class="col-sm-6 col-xs-12 ">
        <iframe width="400" height="300" src="https://www.youtube.com/embed/NFoRtT5r3v4?start=7"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Las mejores apps solo con #PioneerAlVolante</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-xs-12 ">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Y5PF5pQlDd4"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Siente, vive y experimenta el sonido</h4>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12 ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NigBZ0NmMxk"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h4>Conecta tu smartphone a tu autoestéreo con un solo clic</h4>
        </div>
    </div>
</div>
<br />
<div>
    <h1>DJ</h1>
</div>
<div class="row">
    <div class="row">
        <div class="col-sm-6 col-xs-12 ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oaE2wlrVyUY"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h4>Las funciones de la tornamesa PXL-500</h4>
        </div>
    </div>
</div>
