
@{
    ViewData["Title"] = "Privacidad";
}
<form>
    <h2>Privacidad</h2>
    <p>
        PIONEER ELECTRONICS DE MÉXICO, S.A. DE C.V., con domicilio ubicado en Periférico Boulevard Manuel Ávila Camacho 138, Lomas de Chapultepec, Miguel Hidalgo, 11000, Ciudad de México, Distrito Federal, mismo que señala para todos los efectos legales derivados del manejo de la información proporcionada por los titulares de los derechos, en cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, pone a su disposición el presente:
        AVISO DE PRIVACIDAD
        Los datos personales (en adelante llamados "Los Datos") solicitados, son resguardados por Pioneer Electronics de México, S.A. de C.V., (en adelante llamado "Pioneer"), con la finalidad de conocer sus necesidades de productos, servicios, y estar en posibilidad de ofrecerle los que más se adecuen a sus preferencias, comunicarle promociones, eventos, mercadotecnia, publicidad, llevar a cabo la medición de índices de satisfacción del cliente y de la calidad de los productos y servicios, así como atender quejas y aclaraciones, y en su caso, dar seguimiento a nuestra relación comercial o profesional.
        En caso de formalizar con usted la aceptación de algún producto, servicio o cualquier otra relación, ofrecido por “Pioneer”, sus datos serán utilizados para el cumplimiento de las obligaciones derivadas de esa relación comercial o profesional.
        <br /><br />
        Con fundamento en lo dispuesto por el artículo 37 de Ley Federal de Protección de Datos Personales en Posesión de los Particulares, “Los Datos” que usted haya proporcionado a “Pioneer”, podrán ser transferidos sin su consentimiento, en los siguientes supuestos:
        I.Cuando la transferencia esté prevista en una Ley o Tratado en los que México sea parte;
        II.Cuando la transferencia sea efectuada a sociedades controladoras, subsidiarias o afiliadas bajo el control común del responsable, o a una sociedad matriz o a cualquier sociedad del mismo grupo del responsable que opere bajo los mismos procesos y políticas internas;
        III.Cuando la transferencia sea necesaria por virtud de un contrato celebrado o por celebrar en interés del titular, por el responsable y un tercero;
        IV.Cuando la transferencia sea necesaria o legalmente exigida para la salvaguarda de un interés público, o para la procuración o administración de justicia;
        V.Cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial, y
        VI.Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre el responsable y el titular.
        “Los Datos” proporcionados, serán resguardados por “Pioneer” de conformidad y en atención a lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento.
    </p>
    <br /><br />
    <a asp-action="Catalogos" class="btn btn-success">Regresar</a>
</form>