@*

*@
@{

}
<img src="~/images/logo.png" height="20" right="20" /><br />
<h1>Titulo:</h1><br />
<h2>@ViewData["fname"]</h2><br />
<iframe src="@ViewData["fileLocation"]" width="500" height="500"></iframe> 