@*

*@
@{

}
<img src="~/images/logo.png" height="20" right="20" /><br />
<h1>Titulo:</h1><br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowFields">
            <div class="form-group">
                <h2>@ViewData["fname"]</h2><br />
                <iframe src="@ViewData["fileLocation"]" width="500" height="500"></iframe><br />
            </div>
            <div class="form-group">
                <input type="submit" asp-action="Pdf" value="Ver" class="btn btn-success" />
                <input type="submit" asp-action="Subir" value="Regresar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>