
@{
    ViewData["Title"] = "Software";
}
<br />
<img src="~/images/logo.png" height="20" right="20" />

<h2>Software</h2>
<div class="row">
    <div class="col-sm-3 col-xs-12">
      <br>
        <div class="list-group listasoporte">
            <a asp-area="" asp-controller="Home" asp-action="Catalogos" class="list-group-item">Manuales</a>
            <a asp-area="" asp-controller="Home" asp-action="Software" class="list-group-item">Descarga de Software</a>
            <a asp-area="" asp-controller="Home" asp-action="Pdf" class="list-group-item">Catálogos PDF</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacidad" class="list-group-item">Políticas de privacidad</a>
           
        </div>
    </div>
    <div class="col-sm-3 col-xs-12" align="center">
        <a href="http://pioneer-mexico.com.mx/Soporte/Firmware/CDJ-2000v411.zip">
            <img class="img-responsive" src="~/images/front_id_software_cdj2000.png">
            <p class="titulossoporte">FIRMWARE CDJ-2000</p>
        </a>
    </div>
    <div class="col-sm-3 col-xs-12" align="center">
        <a href="http://pioneer-mexico.com.mx/Soporte/Firmware/Pioneer_DDJ_Driver_1.001.exe.zip">
            <img class="img-responsive" src="~/images/front_id_software_ddjt1.png">
            <p class="titulossoporte">FIRMWARE DDJ-T1</p>
        </a>
    </div>
    <div class="col-sm-3 col-xs-12" align="center">
        <a href="http://pioneer-mexico.com.mx/Soporte/Firmware/CDJ-900v411.zip">
            <img class="img-responsive" src="~/images/front_id_software_ddjt1.png">
            <p class="titulossoporte">FIRMWARE CDJ-900</p>
        </a>
    </div>
</div>

